<html>
    <style scoped>
        .title-head2 {
            color: #FFFFFF;
            background-color: #072231;
            height: 24px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        tr.opciones:nth-child(even) {
            background-color: #f2f2f2;
        }
        .rows-body2 {
            text-align: center; 
            font-size: 16px;
            font-weight: bold;
            margin-top: -11px;
            padding: 1px;
            height: 20px;
            margin-right: 1px;
        }
        .table-zebra2 {
            border: 0px solid #373737;
            border-collapse: collapse;
            
        }




    .progress-bar {
        border-radius: 0px;
        overflow: hidden;
        width: 99%;
    }

    span {
            display: block;
        }

    .bar {
        background: #eef1f3;
    }

    .progress {
        color: #fff;
        padding: 7px;
    }

    .progress-bar {
        top: 3px;
        right: 2px;
        left: 2px;
        max-width: 100%;
        position: absolute;
        transform: translate3d(-50%,-50%,0);
    }


    </style>
    <body>
        <table class="table-zebra2" style="width: 100%;">
            <thead>
                <tr class="head-desempeno table-zebra2">
                    <th colspan="2" class="title-head2 table-zebra2">Opciones de respuesta</th>
                </tr>
            </thead>
            <tbody>
                <tr class="p-0 rows-zebra2">
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        4
                    </td>
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        Muy Satisfactorio
                    </td>
                </tr>
                <tr class="p-0 rows-zebra2">
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        3
                    </td>
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        Satisfactorio
                    </td>
                </tr>
                <tr class="p-0 rows-zebra2">
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        2
                    </td>
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        Medianamente Satisfactorio
                    </td>
                </tr>
                <tr class="p-0 rows-zebra2">
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        1
                    </td>
                    <td class="rows-body2 table-zebra2" style="width: 50%;">
                        Poco Satisfactorio
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>